---
import { About, Education, Experience, Hero, Projects, Skills } from "@/sections"
import Layout from "@layouts/Layout.astro"
---

<Layout title="Portfolio">
	<main class="mx-auto max-w-7xl p-6 sm:p-12">
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>
</Layout>
