---
import { About, Education, Experience, Hero, Projects, Skills } from "@/sections"
import Layout from "@layouts/Layout.astro"
---

<Layout title="Portafolio.">
	<main class="m-auto w-full p-16">
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>
</Layout>

<style></style>
