---
import { About, Education, Experience, Hero, Projects, Skills } from "@/components"
import Layout from "@layouts/Layout.astro"
---

<Layout title="Portafolio.">
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>
</Layout>

<style></style>
