---
interface Props {
	id?: string
	title?: string
	container?: boolean
	className?: string
}

const { title, id, container = true, className } = Astro.props
---

<section id={id} data-section={id} class=`mx-40 my-0 box-border h-[96vh] min-h-fit ${className}`>
	{title && <h2 class=" text-center text-5xl">{title}</h2>}
	<div class="container mx-auto flex h-4/5 gap-16">
		<slot />
	</div>
</section>
