---
interface Props {
	id: string
	title?: string
}

const { title, id } = Astro.props
---

<section id={id} data-section={id} class="mx-auto mb-[72px] mt-0 max-w-[700px]">
	{title && <h2 class=" text-2xl; mb-2 font-bold leading-normal">{title}</h2>}
	<slot />
</section>
