---
import { Section } from "@/components"
import { basics } from "@cv-es"

const { summary } = basics
---

<Section title="Sobre Mí">
	<div class="text-left leading-relaxed text-gray-800">
		<p>{summary}</p>
	</div>
</Section>
