---
import { Section } from "@/components"
import { EducationIcon, ExperienceIcon } from "@/icons"
import { basics, languages } from "@cv-es"

const { summary } = basics
---

<Section id="sobre-mi" title="Sobre Mí" className="relative pt-20">
	<div class="about-details-container">
		<div class="about-containers">
			<div class="details-container bg-white dark:bg-gray-800">
				<ExperienceIcon className="mb-2 h-8 cursor-pointer" />
				<h3 class="font-bold">Experience</h3>
				<p>2+ años <br />Full Stack Developer</p>
			</div>
			<div class="details-container bg-white dark:bg-gray-800">
				<EducationIcon className="mb-2 h-8 cursor-pointer" />
				<h3 class="font-bold">Idiomas</h3>
				{
					languages.map(({ language, fluency }) => (
						<p>
							{language} - {fluency}
						</p>
					))
				}
			</div>
		</div>
		<div class="text-container">
			<p class="text-justify">
				{summary}
			</p>
		</div>
	</div>

	<style>
		/* ABOUT SECTION */
		.about-containers {
			gap: 2rem;
			margin-bottom: 2rem;
			margin-top: 2rem;
		}

		.about-details-container {
			justify-content: center;
			flex-direction: column;
		}

		.about-containers,
		.about-details-container {
			display: flex;
		}

		.about-pic {
			border-radius: 2rem;
		}

		.arrow {
			position: absolute;
			right: -5rem;
			bottom: 2.5rem;
		}

		.details-container {
			padding: 1.5rem;
			flex: 1;
			/* background: white; */
			border-radius: 2rem;
			border: rgb(53, 53, 53) 0.1rem solid;
			border-color: rgb(163, 163, 163);
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.section__pic-container {
			height: 400px;
			width: 400px;
			margin: auto 0;
		}

		/* EXPERIENCE SECTION */

		#experience {
			position: relative;
		}

		.experience-sub-title {
			color: rgb(85, 85, 85);
			font-weight: 600;
			font-size: 1.75rem;
			margin-bottom: 2rem;
		}

		.experience-details-container {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.article-container {
			display: flex;
			text-align: initial;
			flex-wrap: wrap;
			flex-direction: row;
			gap: 2.5rem;
			justify-content: space-around;
		}

		article {
			display: flex;
			width: 10rem;
			justify-content: space-around;
			gap: 0.5rem;
		}

		article .icon {
			cursor: default;
		}

		/* PROJECTS SECTION */

		#projects {
			position: relative;
		}

		.color-container {
			border-color: rgb(163, 163, 163);
			background: rgb(250, 250, 250);
		}

		.project-img {
			border-radius: 2rem;
			width: 90%;
			height: 90%;
		}

		.project-title {
			margin: 1rem;
			color: black;
		}

		.project-btn {
			color: black;
			border-color: rgb(163, 163, 163);
		}

		/* CONTACT */

		#contact {
			display: flex;
			justify-content: center;
			flex-direction: column;
			height: 70vh;
		}

		.contact-info-upper-container {
			display: flex;
			justify-content: center;
			border-radius: 2rem;
			border: rgb(53, 53, 53) 0.1rem solid;
			border-color: rgb(163, 163, 163);
			background: (250, 250, 250);
			margin: 2rem auto;
			padding: 0.5rem;
		}

		.contact-info-container {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			margin: 1rem;
		}

		.contact-info-container p {
			font-size: larger;
		}

		.contact-icon {
			cursor: default;
		}

		.email-icon {
			height: 2.5rem;
		}

		/* FOOTER SECTION */

		footer {
			height: 26vh;
			margin: 0 1rem;
		}

		footer p {
			text-align: center;
		}
	</style>
</Section>
