---
import { Section } from "@/components"
import ExperienceItem from "@/components/ExperienceItem.astro"
import { work } from "@cv-es"
---

<Section id="experiencia" title="Experiencia Profesional">
	<ol class="relative mt-16">
		{
			work.map((experiencie) => (
				<li class="">
					<ExperienceItem {...experiencie} />
				</li>
			))
		}
	</ol>
</Section>
